*{
margin:0;
padding:0;
}

@font-face {
font-family: 'GillSansMT';
src: local('Gill Sans MT'), url('Gill Sans MT.ttf') format('truetype');
}

body{
width:800px;
margin:10px auto;
}

#titolo{
width:500px;
height:100px;
font-variant:small-caps;
font-family:"GillSansMT","Helvetica","Arial",sans-serif;
font-size:22pt;
color:#4194f0;
float:left;
margin-right:100px;
padding-left:10px;
}

#titolo p{
position:relative;
top:30px;
left:10px;
height:30px;
width:480px;
}

#dblp_logo{
color:#fff;
width:110px;
height:70;
background-color: #4194f0;
border-radius:10px;
float:left;
}

#dblp_logo p{
width:60px;
position:relative;
left:30px;
top:30px;
}

#wrapper{
padding:10px;
height:700px;
}

#content{
width:500px;
padding-bottom:50px;
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

#sidebar{
margin-top:55px;
text-align:center;
width:220px;
padding-bottom:50px;
float:right;
}

#menu{
margin-bottom:10px;
width:530px;
height:50px;
}

#menu a{
font-family: "Trebuchet MS","Helvetica", "Arial", sans-serif;
padding:6px 20px 9px 20px;
font-size:13pt;
color:#000;
text-decoration:none;
}

#menu .menu1 a{
border-top:6px solid #6bb8ff;
}

#menu .menu1 a:hover{
color:#FFF;
background-color:#6bb8ff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu2 a{
border-top:6px solid #7a9eff;
}

#menu .menu2 a:hover{
color:#FFF;
background-color:#7a9eff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu3 a{
border-top:6px solid #4f5bff;
}

#menu .menu3 a:hover{
color:#FFF;
background-color:#4f5bff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu4 a{
border-top:6px solid #2D46CE;
}

#menu .menu4 a:hover{
color:#FFF;
background-color:#2D46CE;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu5 a{
border-top:6px solid #000;
}

#menu .menu5 a:hover{
color:#FFF;
background-color:#000;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected1 a{
color:#FFF;
background-color:#6bb8ff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected2 a{
color:#FFF;
background-color:#7a9eff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected3 a{
color:#FFF;
background-color:#4f5bff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected4 a{
color:#FFF;
background-color:#2d46ce;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected5 a{
color:#FFF;
background-color:#000;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

td{
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

#login td{
padding:0px 5px 5px 5px;
}

.inputtextform{
border:1px solid #bbbbbb;
padding:5px;
border-radius: 5px;
width:120px;
}

#sign_up{
margin-top:15px;
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

#sign_up a{
text-decoration:none;
color:#6bb8ff;
}

/* Notifiche JAVASCRIPT */
.statoform{
margin-left:10px;
color:red;
display:none;
}

#login {
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

#cerca_autore h2 {
font-size:15pt;
margin-bottom:20px;
}

#risultati_ricerca h2 {
font-size:15pt;
margin-bottom:20px;
margin-top:20px;
}

#risultati_ricerca li {
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
padding:3px;
}

#risultati_ricerca a{
text-decoration:none;
color:#000;
border-radius:3px;
padding:3px;
}

#risultati_ricerca li a:hover {
background-color:#4194f0;
color:#fff;
}

#dati_vecchi{
border:1px solid #bbb;
border-radius:5px;
padding:5px;
margin-bottom:20px;
}

#dati_vecchi td{
padding:5px;
}

#dati_nuovi td{
padding:5px;
}

#dati_profilo{
border:1px solid #bbb;
border-radius:5px;
padding:5px;
margin-bottom:20px;
}

#dati_profilo td{
padding:5px;
}

#tabella_utenti th {
padding-bottom:20px;
}

#tabella_utenti td {
width:100px;
padding-bottom:5px;
}

#form_delete {
visibility:hidden;
}
