*{
margin:0;
padding:0;
}

@font-face {
font-family: 'GillSansMT';
src: local('Gill Sans MT'), url('font/Gill Sans MT.ttf') format('truetype');
}

body{
width:800px;
margin:10px auto;
}

#titolo{
width:500px;
height:100px;
font-variant:small-caps;
font-family:"GillSansMT","Helvetica","Arial",sans-serif;
font-size:22pt;
color:#4194f0;
float:left;
margin-right:100px;
padding-left:10px;
}

#titolo p{
position:relative;
top:30px;
left:10px;
height:30px;
width:480px;
}

#dblp_logo{
color:#fff;
width:110px;
height:70;
background-color: #4194f0;
border-radius:10px;
float:left;
}

#dblp_logo p{
width:60px;
position:relative;
left:30px;
top:30px;
}

#wrapper{
padding:10px;
height:700px;
}

#content{
width:500px;
padding-bottom:50px;
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

#sidebar{
margin-top:55px;
text-align:center;
width:220px;
padding-bottom:50px;
float:right;
}

#menu{
margin-bottom:10px;
width:530px;
height:50px;
}

#menu a{
font-family: "Trebuchet MS","Helvetica", "Arial", sans-serif;
padding:5px 11px 11px 11px;
font-size:11pt;
color:#000;
text-decoration:none;
}

#menu .menu1 a{
border-top:6px solid #6bb8ff;
}

#menu .menu1 a:hover{
color:#FFF;
background-color:#6bb8ff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu2 a{
border-top:6px solid #7a9eff;
}

#menu .menu2 a:hover{
color:#FFF;
background-color:#7a9eff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu3 a{
border-top:6px solid #4f5bff;
}

#menu .menu3 a:hover{
color:#FFF;
background-color:#4f5bff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu4 a{
border-top:6px solid #2D46CE;
}

#menu .menu4 a:hover{
color:#FFF;
background-color:#2D46CE;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .menu5 a{
border-top:6px solid #000;
}

#menu .menu5 a:hover{
color:#FFF;
background-color:#000;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected1 a{
color:#FFF;
background-color:#6bb8ff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected2 a{
color:#FFF;
background-color:#7a9eff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected3 a{
color:#FFF;
background-color:#4f5bff;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected4 a{
color:#FFF;
background-color:#2d46ce;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

#menu .selected5 a{
color:#FFF;
background-color:#000;
-webkit-border-bottom-left-radius: 9px;
-webkit-border-bottom-right-radius: 9px;
-moz-border-radius-bottomleft: 9px;
-moz-border-radius-bottomright: 9px;
}

td{
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}


#login {
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

.textform {
border:1px solid #bbbbbb;
padding:10px;
border-radius: 5px;
width:200px;
}

.inputtextform{
border:1px solid #bbbbbb;
padding:5px;
border-radius: 5px;
width:120px;
}

#sign_up{
margin-top:15px;
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

#sign_up p{
margin-bottom: 20px;
}

#sign_up a{
text-decoration:none;
color:#fff;
padding:10px;
border-radius:5px;
background-color:#4194f0;
}

#sign_up a:hover{
color:#4194f0;
background-color:#fff;
border:1px solid #4194f0;
}

/* Notifiche JAVASCRIPT */
.statoform{
margin-left:10px;
color:red;
display:none;
}

#form-login {
text-align:center;
}

#username-password-login {
margin-bottom: 5px;
}

#cerca_autore h2 {
font-size:15pt;
margin-bottom:20px;
}

#lista_file h1 {
font-size:15pt;
margin-bottom:20px;
margin-top:20px;
}

#lista_file p{
padding:5px;
width:300px;
}

#lista_file a{
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
text-decoration:none;
color:#000;
border-radius:3px;
padding:3px;
}

#lista_file a:hover {
background-color:#4194f0;
color:#fff;
}

#dati_vecchi{
border:1px solid #bbb;
border-radius:5px;
padding:5px;
margin-bottom:20px;
}

#dati_vecchi td{
padding:5px;
}

#dati_nuovi td{
padding:5px;
}

#dati_profilo{
border:1px solid #bbb;
border-radius:5px;
padding:5px;
margin-bottom:20px;
}

#dati_profilo td{
padding:5px;
}

#tabella_ricerche, #tabella_utenti {
text-align:center;
}

#tabella_utenti th{
padding-bottom:20px;
}

#tabella_utenti td{
width:100px;
padding-bottom:5px;
}

#tabella_ricerche th{
padding-bottom:20px;
}

#tabella_ricerche td{
width:100px;
padding-bottom:5px;
}

#form_delete{
visibility:hidden;
}

#search-form{
width:350px;
}

#search-form td{
padding-top:10px;
}

#add_remove_author {
width:25px;
height:25px;
padding:3px;
margin-left:10px;
color:#fff;
border-radius:5px;
border:1px solid #4194f0;
background-color:#4194f0;
font-family:"Arial",sans-serif;
font-size:12pt;
}

#add_remove_author:hover {
width:25px;
height:25px;
padding:3px;
margin-left:10px;
color:#4194f0;
border-radius:5px;
border:1px solid #4194f0;
background-color:#fff;
font-family:"Arial",sans-serif;
font-size:12pt;
}

#submit-search{
margin-top:20px;
color:#fff;
padding:10px;
border-radius:5px;
border:1px solid #4194f0;
background-color:#4194f0;
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
}

#submit-search:hover{
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:10pt;
color:#4194f0;
background-color:#fff;
border:1px solid #4194f0;
}

#author_1, #author_2, #author_3, #author_4 {
display:none;
}

body h1{
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
}

#table_pubblications{
margin-top:10px;
border:1px solid #bbb;
border-radius:10px;
}

#table_pubblications thead{
font-family:"Trebuchet MS","Helevtica","Arial",sans-serif;
font-size:12pt;
padding:5px;
}

#table_pubblications td{
padding:3px;
}

#td_author{
width:500px;
}

#td_booktitle, #td_year, #td_pages, #td_ee{
width:150px;
text-align:center;
}

#td_crossref{
width:200px;
text-align:center;
}

#td_name {
font-weight: bold;
}

#td_value {
width:200px;
}

#conferma_ricerca {
width:280px;
height:70px;
border:2px solid #2D971F;
border-radius: 10px;
background-color: #83EB75;
}

#errore_ricerca {
width:280px;
height:70px;
border:2px solid #D31515;
border-radius: 10px;
background-color: #EC7171;
}

#conferma_ricerca p,#errore_ricerca p{
margin-top:10px;
}

#confirm_img, #error_img{
float:left;
padding:10px;
}

#conversion{
margin-top:10px;
}

#labelText{
padding-top: 10px;
width:80px;
float:left;
text-align: center;
}

.formContent{
padding:5px;
}

#select-conversion{
text-align: center;
}

#only_these_author {
display:none;
}